* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h3 {
  margin-top: 20px;
}

#gallery {
  display: flex;
  justify-content: space-between;
}

#gallery li {
  list-style-type: none;
}

.gallery--item__images {
  width: 99%;
  height: 345px;
}

#name-output {
  background-color: aquamarine;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.task8 {
  margin-bottom: 50px;
}

#boxes {
  position: relative;
}

.action {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: gray;
  margin: 10px;
}
